
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="/payout" class="w3-bar-item w3-button"> Payout 	💸</a>
  <a href="/reporting" class="w3-bar-item w3-button">Reporting 📄</a>
</div>

<div class="w3-teal" style="display:flex;flex-direction:row">
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
    <h1 style="padding-left: 340px;">D-HR Dashboard</h1>

</div>



</div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
     